PORT=8080

APP_ENV=local

# DATABASE
DB_HOST=psql
DB_PORT=5432
DB_DATABASE=db
DB_USERNAME=parlor_beauty
DB_PASSWORD=password1234
DB_SCHEMA=schema

# FRONTEND
FRONTEND_URL=http://localhost:4532

# REDIS
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=redispassword123
REDIS_DB=0

# JWT
JWT_SECRET=your-secret-key-change-in-production-min-32-chars
JWT_ISSUER=parlor-api
JWT_EXPIRATION_HOURS=24
JWT_REFRESH_EXPIRATION_HOURS=168

# EMAIL
MAILTRAP_TOKEN=token
MAILTRAP_URL=https://send.api.mailtrap.io/api/send
